.featured__text-block {
  padding-top: 110px;
  padding-left: 126px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .featured__text-block {
    padding-left: 59px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .featured__text-block {
    padding-left: 59px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .featured__text-block {
    padding-left: 24px;
    padding-top: 0;
    justify-content: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .featured__text-block {
    padding-left: 24px;
    padding-top: 0;
    justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 499px) {
  .featured__text-block {
    padding-left: 0px;
    padding-top: 22px;
    justify-content: center;
  }
}
