.heading_place_intro {
  padding-top: 135px;
  font-size: 48px;
  font-weight: 600;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .heading_place_intro {
    font-size: 36px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .heading_place_intro {
    font-size: 36px;
  }
}
