.featured__subheading {
  margin: 0;
  padding-top: 28px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  max-width: 584px;
  width: 100%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #848fac;
}
