header {
  margin: 0 auto;
  width: 100%;
  padding-top: 41px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
