.benefit__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  grid-area: grid-image;
  border-radius: 4px;
}

/* @media screen and (min-width: 425px) and (max-width: 767px) { */
/* .benefit__img { */
/* aspect-ratio: 2/4; */
/* } */
/* } */
