.benefit__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  gap: 126px;
  grid-template-areas: "grid-text grid-image";
  grid-template-columns: 1fr 384px;
}
.benefit__item:nth-of-type(2n) {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  grid-template-areas: "grid-image grid-text";
  grid-template-columns: 384px 1fr;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .benefit__item {
    gap: 72px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .benefit__item {
    gap: 72px;
  }
}
