.intro__text-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 588px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .intro__text-column {
    max-width: 485px;
  }
}
