.intro {
  margin: 0 auto;
  padding-top: 80px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 160px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
