.intro {
  padding-top: 80px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 160px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr min-content;
  justify-content: center;
  justify-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    padding-bottom: 60px;
  }
}
