.featured {
  width: 100%;
  box-sizing: border-box;
  padding-top: 80px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 80px;
  display: flex;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .featured {
    padding-right: 40px;
    padding-left: 40px;
  }
}
