.interiors__gallery {
  margin: 0;
  padding: 0;
  padding-top: 37px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 24%;
  /* grid-template-columns: 1090px 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "full-size thumb-first"
    "full-size thumb-second"
    "full-size thumb-third";
  gap: 3px;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .interiors__gallery {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "full-size full-size full-size"
      "thumb-first thumb-second thumb-third";
  }
}
