.intro__heading {
  padding: 0;
  padding-top: 135px;
  margin: 0;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #192252;
}
