.featured__img {
  width: 384px;
  height: 575px;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .featured__img {
    width: 352px;
  }
}
