.intro__img-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 588px;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__img-group {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .intro__img-group {
    width: 100%;
    justify-content: center;
  }
}
